@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* display: flex; */
}
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: gold;
  border-radius: 20px;
  border: 2px solid gold;
}
nav li:hover {

  color: gold;
}

#res button{
  border-color: white;
  border: 2px solid white;
  width: 15%;
  height: 50px;
  margin-top: 2%;  
}
#res button:hover{
  border-color: gold;
  transition-duration: 3s;
  color: gold;
}

#send button:hover{
  border-color: gold;
  transition-duration: 3s;
  color: gold;
}

/* this is mobile reponsiveness */
@media only screen and (max-width:767px){
  nav{
    /* display: none; */
  }
  .menuLink{
    display: none;
  }
  .menu{
    color: gold;
    margin-top: -6vh;
    margin-left: 80vw;
  }
  .pp{
    margin-right: 50vw;
  }
  .pic{
    height: 180px;
    width: 180px;
    margin: 5%;
    }
  
  #res button{
    width: 7rem;
  }
  
   body{
    padding: 10px;
    flex-direction: column;
   }
   
}